.act {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
}

.actualWeather {
  width: 100%;
  max-width: 350px;
  padding: 10px;
  border-radius: 10px;
  background-color: #e5e5e5;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.upperDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.upperDiv p {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.bottomDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.temp h1 {
  font-size: 48px;
  margin: 0;
}

.stats p {
  font-size: 14px;
  margin: 5px 0;
}

img {
  width: 50px;
  height: 50px;
}
@media (max-width: 600px) {
  .act{
    width: 100%;
    max-width: 500px;
    padding-top: 10px;
  }
  
}